/* --- NAVIGATION ---*/

div.navbar-collapse {
    justify-content: flex-end;   
}

div.header {
    height: 650px;
    margin-bottom: 0;
}

section.cta-header {
    height: 300px;
    background-color: aliceblue;
}

section.sections {
    height: 300px;
    background-color: #eceeef;
}